@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 95% 8%;
    --foreground: 210 22% 48%;

    --card: 207 95% 8%;
    --card-foreground: 210 22% 48%;

    --popover: 207 95% 8%;
    --popover-foreground: 210 22% 48%;

    --primary: 210 22% 48%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 211 34% 18%;
    --secondary-foreground: 210 22% 48%;

    --muted: 211 34% 18%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 211 34% 18%;
    --accent-foreground: 210 22% 48%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 22% 48%;

    --border: 211 34% 18%;
    --input: 211 34% 18%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-fira bg-background font-normal text-foreground;
  }
}
