@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';

@theme {
	--font-sans: 'Figtree', sans-serif;
	--font-title: 'Ramabhadra', var(--font-sans);

	--color-background: oklch(0.0936 0.0331 248.95);
	--color-foreground: oklch(0.9191 0.0439 248.95);
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
	font-family: var(--font-sans);
}
